<div id="main-container" class="container-fluid">
  <div class="row-fluid">
    <div class="row greeting">
      <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
          <h1 class="display-3 text-center">URL LOP</h1>
            <p class="text-center">Enter full url using http</p>
            <p><%= render 'links/new_link' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
